@import url('https://fonts.googleapis.com/css?family=Mansalva|Turret+Road&display=swap');

@font-face {
  font-family: 'game_of_thronesregular';
  src: url('game_of_thrones-webfont.woff2') format('woff2'),
       url('game_of_thrones-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Turret Road', cursive;
  font-size: 14px;
}
h4, h3{
  font-family: 'game_of_thronesregular';
}
h5{
  margin-top: 5px;
}

body{
  background-color: #c1b6b6;
}

.header{
  padding: 40px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  height: 190px;  
  font-weight: bold;
  text-align: center;
  vertical-align: bottom;
}

.score{
  width: 100%;
  display: block;
  text-align: center;
}

.score span{
  display: inline;
  margin: 5px 20px;
  text-align: center;
  font-family: 'game_of_thronesregular';
}

.wrap-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  justify-content: center;
}

.wrap-img{
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
}

.wrap-img img{
  width: 190px;
  height: 190px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  padding: 10px;
  align-self: center;
  justify-self: center;
}

.wrap-img img:hover{
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  transition: .20s ease-in-out;
}

.incorrect-click {
  animation: blinker-incorrect 1s linear;
}

.correct-click {
  animation: blinker-correct 1s linear;
}

@keyframes blinker-incorrect {  
  50% { opacity: 0; }
  0% {color: red;}
}

@keyframes blinker-correct {  
  50% { opacity: 0; }
  0% {color: green;}
}
